<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47354261667-nhd792gefllv5qskd0rpbfqbeso99i31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47354261667-nhd792gefllv5qskd0rpbfqbeso99i31</string>
	<key>API_KEY</key>
	<string>AIzaSyDTFg-Gg9Qhv5XmkDQxYAYCieR4l3PWZi0</string>
	<key>GCM_SENDER_ID</key>
	<string>47354261667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-1f9eb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-1f9eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47354261667:ios:f66b16aa6b27351b5c4f16</string>
</dict>
</plist>